#wrapper {
	
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#renderer {
	float: left;
	background-color: #deeaee;
}

#controls {
	float: right;
}

.input-slider {
	min-width: 75px;
	width: 100%;
}

.input-value {
	width: 32px;
}